/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

/* COMMON */
.container{
    width: 70%;
    margin: 0 auto;
}

.mt {
    margin-top: 2rem;
}

/* HEADER */
h1{
    color: #E53171;
    font-size: 2rem;
    text-align: center;
}

.header > p{
    text-align: center;
}

/* MAIN */
.column{
    width: calc(100% / 3 - 2rem);
    background-color: #0f0e17;
    float: left;
    color: white;
    margin-right: 2rem;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

span{
    display: block;
}

.column img{
    height: 120px;
    float: left;
}

span:last-of-type{
    color:#37afda;
}

.content{
    padding: 1rem;
}